History
<link rel="stylesheet" href="/styleHistory.css">


<ul>
    <% arrReview.forEach((review) => { %>
     <div class="center">
        <li><% let img =  "https://image.tmdb.org/t/p/original" + review.movie.poster%>
            <a href="/review"><img src= <%= img %> alt="Movie Image" class="movieImg">
             <h4><%= review.movie.title %></h4></a>
             <form action="/history" method="POST">
                <input type="hidden" value="<%= review.movie.title %>" name="title">
                <input type="hidden" value="<%= review.movie.poster %>" name="poster">
                <input type="submit" value="Delete">
            </form>
        </li>
    </div>
    <% }) %>
</ul>