

<h1>What kind of movie do YOU want to watch?</h1>


<form method="GET" action="/movie">
    <label for="title"></label>
    <input type="text" name="name" id="title" placeholder="Crime? Action? Horror?">
    <input type="submit">
</form>


