

Search by genre


<form method="GET" action="/movie">

    <label for="title"></label>
    <input type="text" name="name" id="title" placeholder="Spin the movie wheel!">
    <input type="submit">
</form>


