
<div class='search'>
    <h1><span class="white">What kind of movie do YOU want to watch?</span></h1>
    <form method="GET" action="/movie">
        <label for="title"></label>
        <input type="text" name="name" id="title" input style="font-size:50px;" placeholder="Crime? Action? Horror?" class="searcher">
        <input type="submit" class="button"input style="font-size:40px;">
    </form>
</div>


