<h1>Login Page</h1>

<form action="/home" method="GET" class="button">
    <label for="email">Email</label>
    <input type="email" id="email" required>
    <label for="password">Password</label>
    <input type="text" id="passwprd" required>
    <a href="/home">Sign In</a>
</form>


<form action="/signup" method="GET" class="button">
    <a href="/signup">Create Account</a>
</form>


