

<h3>Profile ID: <%=userInfo[0].dataValues.id %></h3>
<h3>Profile Name: <%=userInfo[0].dataValues.name %></h3>
<h3>Profile Email: <%=userInfo[0].dataValues.email %></h3>
<h3>User Since: <%=userInfo[0].dataValues.createdAt %></h3>
