

<h4><span class="white">Profile ID: <%=userInfo[0].dataValues.id %></span></h3>
<h4><span class="white">Profile Name: <%=userInfo[0].dataValues.name %></span></h3>
<h4><span class="white">Profile Email: <%=userInfo[0].dataValues.email %></span></h3>
<h5><span class="white">User Since: <%=userInfo[0].dataValues.createdAt %></span></h3>
