<form action="/reviewPage" method="PUT">
    <label for="new-password">How did you like it?</label>
    <input type="hidden" value="<%= userInfo[0].dataValues.id  %>" name="id">
    <input type="text" name="review" id="review">
    <input type="submit" value="Leave your review">
  </form>