Review

<form action="/review" method="POST">
    <label for="new-password">How did you like it?</label>
    <input id="new-review" type="text" name="review">
    <input type="submit" value="Leave your review">
  </form>
