Signup


<div class="signup">
    <form action="/" method="GET">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" required>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" required>
        <label for="email">Email</label>
        <input type="email" id="email" required>
        <label for="password">Password</label>
        <input type="text" id="passwprd" required>
        <label for="password">Confirm Password</label>
        <input type="text" id="confirmPassword" required>
        <button>Submit</button>
    </form>
</div>