.movieImg {
    width: 250px;
    height:375px;
    margin-top: 0px;
}

h1 {
    text-align: center;
}

.imgCenter {
    text-align: center;
    border: 1px solid white;
    
}

.outline {
    padding-left: 5px;
    width: 400px;
    height: 520px;
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
}

.outlineOutline {
    border: solid white 1px;
}
